h1{
    color: blueviolet;
}

:root {
    --box-sixe: 150px;
    --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-font);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-container div {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    width: var(--box-sixe);
    height: var(--box-sixe);
    background-color: #c8cddd;
    color: #6f748a;;
    font-size: 3rem;
    font-weight: 700;

    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.grid-container div:hover {
    background-color: #acb3c9;
}

.grid-container div:active {
    background-color: #c8cddd;;
}

.scores {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #acb3c9;
    border-radius: 10px;
    color: #fff;
    margin-top: 40px;
}

.noclick {
    pointer-events:none;
}