:root {
    --box-sixe: 150px;
    --system-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--system-font);
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-container div {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    
    background-color: #c8cddd;
    color: #6f748a;;
    font-size: 3rem;
    font-weight: 700;

    
}

.grid-container div:hover {
    background-color: #acb3c9;
}

.grid-container div:active {
    background-color: #c8cddd;;
}
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    font-size: 24px;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

.scores {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #acb3c9;
    border-radius: 10px;
    
    border-color: #000;
    color: #fff;
    margin-top: 40px;
}

.noclick {
    pointer-events:none;
}

.playerNameInput {
    margin: 20px;
    padding: 20px;
    border: black, 2px, solid;
    border-radius: 5rem;
}
